<nav>
	{{#if pagination.prev}}<a class="prev" href="/page/{{pagination.prev}}" title="Previous">Previous</a>{{/if}}
	{{#if pagination.next}}<a class="next" href="/page/{{pagination.next}}" title="Next">Next</a>{{/if}}
</nav>